# luarocks build files
*.src.rock
*.zip
*.tar.gz

# SILE artifacts
*.toc
*.ref
*.pdf
*.debug

# Other build artifacts and temporary folders
**/converted/*
temp/*

# In case installing fonts locally
.fonts/*
.sources/*
